
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
 
  h1 {
    text-align: center;
    color: #007bff;
  }
  
  
  form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .cocktail-data {
    list-style-type: none;
    padding: 0;
  }
  
  .cocktail-data li {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .cocktail-data img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-right: 20px;
  }
  
  .text {
    display: flex;
    flex-direction: column;
  }
  
  .text h2 {
    margin: 0;
    color: #007bff;
  }
  
  .text p {
    margin: 5px 0 0;
    color: #555;
  }
  